@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #edf0f3;
  background-color: #45545c;
}

.navbar {
  font-size: 1rem;
  margin: auto;
  width: 100%;
  max-width: 1024px;
}

.navbar ul {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "home home  facebook "
    "galerie price  contact  ";
  padding: 0;
}

.navbar li {
  list-style-type: none;
  margin: 10px;
}

.navbar li:first-child {
  grid-area: home;
}

.navbar .navbar__galerie {
  grid-area: galerie;
}

.navbar .navbar__price {
  grid-area: price;
  text-align: center;
}

.navbar .navbar__contact {
  grid-area: contact;
  justify-self: end;
}

.navbar .navbar__social-network {
  grid-area: facebook;
  justify-self: end;
}

.navbar a {
  padding: 5px;
  color: inherit;
  border-radius: 5px;
  max-width: 1024px;
}

.navbar a:hover {
  background-color: #596469;
  text-decoration: none;
}

.navbar .navbar__social-network a {
  margin: 5px;
}

.container {
  margin: auto;
  max-width: 1024px;
}

.home__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galerie-title {
  margin-left: 15px;
}

.galerie {
  margin: 5px;
}

.galerie-add,
.galerie-filter {
  width: 100%;
  text-align: center;
}

.galerie-add button {
  width: 300px;
  border: none;
  margin-bottom: 30px;
  border-radius: 5px;
  outline: 0;
  background-color: #1095c1;
  color: inherit;
}

.galerie-add button:hover {
  background-color: #1ab3e6;
}

.galerie-filter select {
  width: 300px;
  padding: 3px;
  border: none;
  margin-bottom: 30px;
  border-radius: 5px;
  outline: 0;
  background-color: #1095c1;
  color: inherit;
}

.galerie-filter select option {
  background-color: #596469;
  color: inherit;
}

.galerie {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
}

.galerie__card img {
  width: 100%;
  margin-bottom: 10px;
}

.pricing {
  margin: 0 15px;
}

.pricing h1 {
  margin-bottom: 25px;
}

.pricing__prices {
  margin: 0 15px 50px;
}

.pricing__prices h2 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 10px;
}
.pricing__prices h2 em {
  font-size: 0.8rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar ul {
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    grid-template-areas: "home galerie price  contact  facebook ";
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    font-size: 1.2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
